/* Number Guessing Game CSS */

body {
	margin: 10px;
	background-color: #cccccc;
	font-family: Arial, sans-serif;
}

.button {
	margin-top: 10px;
	border-radius: 10px;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	width: 20%;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

#historyArea {
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

#game {
	background-color: #ffffff;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: #cccccc;
	padding: 10px;
}

#statusArea {
	font-size: 120%;
}

#footerArea {
	text-align: center;
	margin-top:5px;
	font-size: 90%;
	font-style: italic;
}